<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-tools"></i> Multi-Tools
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/image-tools/">Image Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/seo-tools/">SEO Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/text-tools/">Text Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/developer-tools/">Developer Tools</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown">
                            More Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/calculators/">Calculators</a></li>
                            <li><a class="dropdown-item" href="/tools/converters/">Converters</a></li>
                            <li><a class="dropdown-item" href="/tools/security-tools/">Security Tools</a></li>
                            <li><a class="dropdown-item" href="/tools/social-media-tools/">Social Media Tools</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header> 